{% extends 'base.html' %}

{% block body %}

<div class="main_div">
	<h2 class="main_title">🔗 Shorten and Forget!</h2>
	<h2 class="main_text text_div">
		{% if prev_url == "None" %}
		ShortPaw: A Neat URL Shortener for the Modern User
		{% else %}
		You Last Shortened <a href="/{{ prev_url }}" class="link_" style="font-size: inherit;">/{{ prev_url }}</a>
		{% endif %}
	</h2>
	<form class="url_div">
		<div class="mb-3">
			<p class="lead">Enter The URL You Want to Shorten</p>
			<input type="text" class="form-control" aria-label="url" aria-describedby="basic-addon1" name="url" id="url" class="yt">
		</div>
		<div class="mb-3">
			<div class="form-text">Enter a Custom URL: This is completely free and optional. Leave Empty for random</div>
			<input type="text" class="form-control" aria-label="url" aria-describedby="basic-addon1" name="custom_hash" id="custom_url">
		</div>
		<button type="button" class="shorten_btn" id="submit_btn">
			Shorten The URL <i class="bi bi-arrow-right"></i>
		</button>
	</form>
	<div class="results_div">
		<h2 class="display-4 title text_dark" style="text-align: center;">🔗 Results Are Yours!</h2>
		<div id="results"></div>
	</div>
	<div class="modal fade" id="qrmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">QR Code for ShortPaw URL</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="qr"></div>
					<p class="lead" style="text-align: center; padding-top: 0.8rem;">Powered By: <a href="https://goqr.me/api/" class="link_">QR Server</a></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Download QR Code</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		var app_name = "https://shortpaw.herokuapp.com"
		function color(){
			$.ajax({
				type: "GET",
				url: "/color",
				dataType: "json",
				success: function(response) {
					$("body").addClass(response.body)
				},
				error: function(err) {
					console.log(err);
				}
			});
		}
		color()
		$(".results_div").toggle()
		$("#submit_btn").click(function(){
			if ($("#custom_url").val() == ""){
				$.ajax({
					type: "POST",
					url: "/create",
					data: {"url": $("#url").val()},
					dataType: "json",
					success: function(response) {
						$(".results_div").css("display", "block");
						$("#results").append("<p class='lead text_dark short_link'>This is your shortened URL: <a href='/" + response.hash + "' class='link_dark'>/" + response.hash + "</a><button class='btn qr_btn' data-bs-toggle='modal' data-bs-target='#qrmodal'><img src='{{ url_for('static',filename='assets/svg/qr-code.svg') }}' alt=''></button></p>");
						$(".qr").html("<div style='text-align: center;'><img src='https://api.qrserver.com/v1/create-qr-code/?size=300x300&data=" + app_name + "/go/" + response.hash +"' alt='QR Code'></div>")
					},
					error: function(err) {
						console.log(err);
					}
				});
			}
			else{
				$.ajax({
					type: "POST",
					url: "/custom_create",
					data: {"url": $("#url").val(), "custom_url": $("#custom_url").val()},
					dataType: "json",
					success: function(response) {
						$(".results_div").css("display", "block");
						$("#results").append("<p class='lead text_dark short_link'>This is your shortened URL: <a href='/" + response.hash + "' class='link_dark'>/" + response.hash + "</a></p>");
						$(".qr").html("<div style='text-align: center;'><img src='https://api.qrserver.com/v1/create-qr-code/?size=300x300&data=" + app_name + "/go/" + response.hash +"' alt='QR Code'></div>")
					},
					error: function(err) {
						console.log(err);
					}
				});
			}
		})
	})
</script>

{% endblock %}