{% extends 'base.html' %}

{% block body %}
    <h1 class="h1 text text-center" style="font-family: 'ASAP';">Login</h1>
    <div class="container">
        <form action="/login" method="POST" class="form-register">

            {{ form.hidden_tag() }}

            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="Enter the UserName") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Your Password Please") }}

            <br>
            {{ form.submit(class="btn btn-block btn-primary") }}
        </form>
    </div>
{% endblock %}