/* From cssbuttons.io by @adamgiebl */

.social_btn_insta {
    background: #e2213b;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #ec243f;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
}

.social_btn_insta .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #e62d45;
    right: 0.3em;
    transition: all 0.3s;
}

.social_btn_insta:hover .icon {
    width: calc(100% - 0.6em);
}

.social_btn_insta .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #e2213b;
}

.social_btn_insta:hover .icon svg {
    transform: translateX(0.1em);
}

.social_btn_insta:active .icon {
    transform: scale(0.95);
}

/* For Discord */
.social_btn_discord {
    background: #A370F0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
}

.social_btn_discord .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
}

.social_btn_discord:hover .icon {
    width: calc(100% - 0.6em);
}

.social_btn_discord .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
}

.social_btn_discord:hover .icon svg {
    transform: translateX(0.1em);
}

.social_btn_discord:active .icon {
    transform: scale(0.95);
}

/* For Email */
.social_btn_email {
    background: #203cdb;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #334fe9;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
}

.social_btn_email .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #3a53df;
    right: 0.3em;
    transition: all 0.3s;
}

.social_btn_email:hover .icon {
    width: calc(100% - 0.6em);
}

.social_btn_email .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #213edf;
}

.social_btn_email:hover .icon svg {
    transform: translateX(0.1em);
}

.social_btn_email:active .icon {
    transform: scale(0.95);
}

/* For Github */
.social_btn_github {
    background: #232423;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #222422;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
}

.social_btn_github .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #222422;
    right: 0.3em;
    transition: all 0.3s;
}

.social_btn_github:hover .icon {
    width: calc(100% - 0.6em);
}

.social_btn_github .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #222422;
}

.social_btn_github:hover .icon svg {
    transform: translateX(0.1em);
}

.social_btn_github:active .icon {
    transform: scale(0.95);
}

/* For StackOverFlow */
.social_btn_stack {
    background: #f39821;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #f3a33b;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
}

.social_btn_stack .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #f3a33b;
    right: 0.3em;
    transition: all 0.3s;
}

.social_btn_stack:hover .icon {
    width: calc(100% - 0.6em);
}

.social_btn_stack .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #f3a33b;
}

.social_btn_stack:hover .icon svg {
    transform: translateX(0.1em);
}

.social_btn_stack:active .icon {
    transform: scale(0.95);
}

/* For YouTube */
.social_btn_yt {
    background: #ec1111;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #f02222;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
}

.social_btn_yt .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #f02222;
    right: 0.3em;
    transition: all 0.3s;
}

.social_btn_yt:hover .icon {
    width: calc(100% - 0.6em);
}

.social_btn_yt .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #f02222;
}

.social_btn_yt:hover .icon svg {
    transform: translateX(0.1em);
}

.social_btn_yt:active .icon {
    transform: scale(0.95);
}

/* For Website */
.social_btn_website {
    background: #60f31b;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #7df047;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
}

.social_btn_website .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7df047;
    right: 0.3em;
    transition: all 0.3s;
}

.social_btn_website:hover .icon {
    width: calc(100% - 0.6em);
}

.social_btn_website .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7df047;
}

.social_btn_website:hover .icon svg {
    transform: translateX(0.1em);
}

.social_btn_website:active .icon {
    transform: scale(0.95);
}
