.body_blue{
    background-attachment: fixed;
    background-image: linear-gradient(to right top, #35f5ab, #55f1f1);
}
.body_red{
    background-attachment: fixed;
    background-image: linear-gradient(to right top, #f12f2f, #ee2525);
}
.body_yellow{
    background-attachment: fixed;
    background-image: linear-gradient(to right top, #f0df49, #f1e31c);
}
.body_green{
    background-attachment: fixed;
    background-image: linear-gradient(to right top, #5af32b, #80f13e);
}
.main_blue{
    min-height: 100vh;
    background-image: linear-gradient(to right top, #35f5ab, #55f1f1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_red{
    min-height: 100vh;
    background-image: linear-gradient(to right top, #f12f2f, #ee2525);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_yellow{
    min-height: 100vh;
    background-image: linear-gradient(to right top, #f0df49, #f1e31c);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_green{
    min-height: 100vh;
    background-image: linear-gradient(to right top, #5af32b, #80f13e);
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_div{
    background: #fff;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.705), rgba(255, 255, 255, 0.363));
    border-radius: 2rem;
    padding: 1.2rem;
    margin-top: 5vh;
    transition-delay: 0.4s;
    transition-duration: 1s;
}
.section_div:hover{
    box-shadow: 37.9px 28.7px 18.3px -14px rgba(243, 245, 245, 0.22), 256px 194px 80px -14px rgba(255, 255, 255, 0.097);
}
.section_div_1{
    background: #fff;
    min-height: 80vh;
    width: 80%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.705), rgba(255, 255, 255, 0.363));
    border-radius: 2rem;
    padding: 1.2rem;
    margin-top: 5vh;
    transition-delay: 0.4s;
    transition-duration: 1s;
}
.section_div_1:hover{
    box-shadow: 37.9px 28.7px 18.3px -14px rgba(48, 245, 245, 0.22), 256px 194px 80px -14px rgba(36, 255, 237, 0.097);
}

@media only screen and (max-width: 500px) {
    .section_div{
        background: #fff;
        min-height: 80vh;
        width: 100%;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.705), rgba(255, 255, 255, 0.363));
        border-radius: 2rem;
        padding: 1.2rem;
        margin-top: 5vh;
        transition-delay: 0.4s;
        transition-duration: 1s;
    }
    .section_div:hover{
        box-shadow: 37.9px 28.7px 18.3px -14px rgba(243, 245, 245, 0.22), 256px 194px 80px -14px rgba(255, 255, 255, 0.097);
    }
    .section_div_1{
        background: #fff;
        min-height: 80vh;
        width: 100%;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.705), rgba(255, 255, 255, 0.363));
        border-radius: 2rem;
        padding: 1.2rem;
        margin-top: 5vh;
        transition-delay: 0.4s;
        transition-duration: 1s;
    }
    .section_div_1:hover{
        box-shadow: 37.9px 28.7px 18.3px -14px rgba(48, 245, 245, 0.22), 256px 194px 80px -14px rgba(36, 255, 237, 0.097);
    }
}

.CodeMirror * {
    color: rgb(248, 238, 238);
    font-size: 1rem;
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
}

.tools_img{
    padding-right: 1rem;
    width: 48px;
    height: 48px;
}

.link_{
    font-size: 1.2rem;
    opacity: 0.9;
    color: #250ef0;
    text-decoration: none;
    transition-delay: 0.6s;
    transition-duration: 0.8s;
}
.link_:hover{
    color: rgb(139, 9, 214);
    opacity: 1;
}